body{

}
.super-mario{
    width: 200px;
    position: absolute;
    z-index: 1;
}
.goomba{
    width: 200px;
    position: absolute;
    bottom: 200px;
    z-index: 2;
}
.bowser{
    width: 200px;
    position: absolute;
    right: 1000px;
    z-index: 3;
    
}
.baloon{
    width:150px;
    position: absolute;
    left:500px;
    z-index: 4;
}
p{
    font-size: 13px;
    position: absolute;
    bottom: 850px;
    left: 510px;
    z-index: 5;
}