body{
     background-color: #cfd2cd;
}

.header{
    background-color: #e5e6e4;
    font-family: fantasy;
    padding: 30px, 50px, 70px, 50px;
    margin: auto;
}

.header h1{
    text-align: center;
    font-weight: 700;
}

.header p{
    font-size: 25px;
    text-align: justify;
    float: right;
    width: 50%;
    padding-right: 150px;
    padding-top: 100px;
}

img{
    width: 15%;
    border-radius: 25%;
    padding-bottom: 50px;
    margin-left: 200px;
}

.buttons ul li{
    background-color: #a6a2a2;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10%;
    margin: 10px;
    text-decoration:none;

}

.habi{
    font-family: fantasy;
    line-height: 30px;
    font-size: 20px;
    font-weight:600;
}

.section-title{
    font-size: 25px;
    background-color: #a6a2a2;
    font-family: fantasy
}
.button-blog{
    font-family: fantasy;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
}